<?xml version="1.0" encoding="windows-1252"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">


    <http auto-config='true'>
        <http-basic />
        <intercept-url pattern="/rest/peserta/**" method="POST" access="ROLE_ADMIN" requires-channel="https"/>
        <intercept-url pattern="/rest/peserta/**" method="PUT" access="ROLE_ADMIN" requires-channel="https"/>
        <intercept-url pattern="/**" access="ROLE_USER" requires-channel="https"/>
        <port-mappings>
            <port-mapping http="10000" https="10001"/>
        </port-mappings>
    </http>
    
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="endy" password="endy123" authorities="ROLE_USER, ROLE_ADMIN" />
                <user name="mansyur" password="mansyur123" authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
    </authentication-manager>

</beans:beans>